<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Fortune</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body class="center-it">
		<img src="/assets/{{ image }}" class="number-image">
		<div class="stack-it">
			<code class="fortune-text">
				{{ text }}
			</code>
	 		<small>Port <code>{{ port }}</code></small>
		</div>
	</body>
</html>
